.autocompleteContainer {
    position: relative;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.autocompleteContainer > input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.loading, .error {
    padding: 10px;
    font-size: 14px;
    color: #fff;
}

.suggestionsList {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    color: black;
    background-color: white;
    border-top: none;
    border-radius:  0 0 4px 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.suggestionItem {
    padding: 10px;
    cursor: pointer;
}

.suggestionItem:hover {
    background-color: #f0f0f0;
}