.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  
  .stats {
    background-color: #4e2fe7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  button {
    background-color: #007bff;
    color: rgb(46, 11, 11);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .message {
    margin-top: 20px;
    font-weight: bold;
  }
  